/* Variables */
  :root {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  --col-width: 32rem;
  --background-color: #F6F6F6; /*161616*/
  --background-secondary-color: #E7E7E9; /* rgb(245, 245, 245)*/
  --color: #898993;  /*rgba(0, 0, 0, 0.75)*/
  --text-secondary-color: #49494E; /* #646464 */
  --border-color: #D8D8E3;
  --card-shadow: rgba(3, 7, 30, 0.2) 0px 8px 18px;
  --border-radius: 4px;
}
@font-face {
    font-family: 'iAWriterQuattroV';
    src: url('/Users/jam/Documents/GitHub/jamco-personal/fonts/iAWriterQuattroV.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'iAWriterQuattroVitallic';
    src: url('/Users/jam/Documents/GitHub/jamco-personal/fonts/iAWriterQuattroV-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }


/* TYPE */
  body {
    font-family: 'iAWriterQuattroV', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'iAWriterQuattroV', sans-serif;
  }
  
  em {
    font-family: 'iAWriterQuattroVitallic', sans-serif !important;
  }
  
  strong {
    font-family: 'iAWriterQuattroV', sans-serif !important;
  }

  h1 {
    color: var(--text-secondary-color);
    font-size: 2rem;
    line-height: 1.25em;
    margin-top: 2rem;
    }
  
  h2 {
  
    font-size: 1.75rem;
    line-height: 1.25rem;
  }
  
  h3{ 
    font-size: 1rem;
    line-height: 1.37rem;
  }
  
  h2, h3, h4, h5, h6 {
    font-size: inherit;
    line-height: inherit;
    }
    
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    text-decoration: none;
    overflow-wrap: break-word; 
    }
    
  h2,
  h3,
  h4,
  b,
  strong,
  th {
    font-family: var(--font-heading);
    font-weight: 600;
    color: var(--color);
  }
  

  .site-body p, .site-body li {
    line-height: inherit;
    margin: 1rem 0;
    color: var(--color);
    overflow-wrap: normal;
  }

  a {
    color: var(--blue);
    text-decoration: underline;
  }
  
  a:focus,
  a:hover {
    text-decoration: none;
  }
  
  a:active,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
