
/* Variables */
:root {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  --col-width: 64rem;
  --reading-col: 35rem;
  --width-container: 64rem;
  --font: 'Author', sans-serif;
  --font-heading: 'Author', sans-serif;
  --background-color: #F6F6F6;
  --color: #49494E;
  --text-secondary-color: #898993;
  --secondary-color: #D8D8E3;
  --border-color: #D8D8E3;
  --card-shadow: rgba(3, 7, 30, 0.2) 0px 8px 18px;
  --border-radius: 4px;
  --green: #32bd64;
  --orange: orange;
  --blue: #0788f5;
}


/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-size: inherit;
  line-height: inherit;
  font-family: var(--font);
  background: var(--background-color);
  min-height: 100vh;
  
}

p, li {
  line-height: inherit;
  margin: 1rem 0;
  color: var(--color);

}

a {
  color: inherit;
  text-decoration: underline;
}

a:focus,
a:hover {
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  text-decoration: none;
}

/* Set up the basic layout */
body {
  font-family: var(--font);
  color: var(--color);
  width: 100%;
  background-color: var(--background-color);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
}

.site-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 74px auto;
  width: 100%; /* Add this line */
}

.menu svg {
  max-width: 2rem;
  max-height: 2rem;
  visibility: hidden;
  display: none;
}

.header {
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px; 
  width: 100%;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--secondary-color);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.04);
  z-index: 99 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0%;
  width: 100%;
  align-items: baseline;
  max-width: var(--reading-col);
}
.site-header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.site-header a{
  font-size: 1rem;
  margin: 0 8px;
  color: var(--text-secondary-color);
  text-decoration: none;
  display: block;
  text-align: center;
}

body > header > nav > ul > li.active a, body > header > nav > ul > li:hover a {
  color: var(--color);
  text-decoration: underline;
}

.site-main{
  width: 100%;
}

/* About styles */

.projects-heading {
  max-width: var(--width-container);
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.home-intro {
  margin-bottom: 2rem;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--col-width);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0 auto;
  width: 100%; /* adjust as needed */
  max-width: var(--width-container);
}

/* .container > * {
  width: calc((100% - 16px * 2) / 3); 
} */

/* Style the project block */
.home-block:hover, .home-block:active {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}
.home-block {
  text-align: left;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  height: auto;
  width: calc((100% - 16px * 2) / 2);
  min-width: 288px;
  border: 1px solid #E5E0DF;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  text-decoration: none !important;
}
.home-block article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  border-bottom: 0px;
}
.home-block p {
  color: var(--text-secondary-color);
  margin: 0;
}
.home-block h2 {
  color: var(--color);
  margin: 0;
}

.home-block img {
  display: block;
  margin: 0;
  margin-bottom: 1rem;
  width: 100% !important;
  transform: none;
}

.project-description {
  margin-top: 4px;
}

/* Style the link list */
.link-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-list li {
  margin: 8px 0;
}


.name{
  color: var(--color);
}

h1 {
  color: var(--color);
  font-size: 2rem;
  line-height: 1.25em;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--secondary-color);
  margin-top: 2rem;
  margin-bottom: 1rem;
  }

h2 {
  font-size: 1.75rem;
  line-height: 1.25rem;
}

h3{ 
  font-size: 1rem;
  line-height: 1.37rem;
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-size: inherit;
  line-height: inherit;
  }
  
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  text-decoration: none;
  overflow-wrap: break-word; 
  }
  
h2,
h3,
h4,
b,
strong,
th {
  font-family: var(--font-heading);
  color: var(--text-secondary-color);
}

.page {
  margin-bottom: 8rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--reading-col);
}


.page-header {
  margin-bottom: 1rem;
}

.page-title {
  font-family: var(--font-heading);
  margin: 0;
}

/*
Post
*/

.post {
  margin-bottom: 8rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--reading-col);
}

.post-header {
  margin-bottom: 1rem;
}

.post-title {
  margin: 0;
}

.post-date {
  display: block;
}

/*
Project page
*/

.project {
  margin-bottom: 8rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--reading-col);
}

.spec-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 8px;
  margin: 1rem 0;
}

.spec {
  width: calc((100% / 4) - 16px);
  padding: 1rem;
  min-width: 140px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border: 1px solid #E5E0DF;
  border-radius: var(--border-radius);
  margin: 0;
}
.spec > * {
  margin: 0 0.5rem;
}

.project-header {
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--reading-col);
}

.project-title {
  margin: 0;
}

.project-details {
  margin: 0;
}

.project-text {
  margin-top: 1rem;
}

.project-block {
  margin-bottom: 6rem;
  text-align: center;
}

.project-block figure {
  margin-left: auto;
  margin-right: auto;
}

.project-block figure.sm {
  max-width: var(--reading-col);
}

.project-block figure.md {
  max-width: var(--reading-col);
}

.project-block figure.lg {
  max-width: var(--reading-col);
  margin-left: 16px;
  margin-right: 16px;
}

.project-block img:not([width]),
.project-block video:not([width]) {
  width: 100%;
}

/*
Pagination
*/

.pagination {
  width: 100%;
  max-width: var(--reading-col);
  margin: 2rem auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.pagination-item, .button {
  margin: 8px 0;
  width: auto;
  height: auto;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  padding: 8px 16px;
  border-radius: var(--border-radius);
  border: 1px solid #E5E0DF;
  justify-content: center;
  text-decoration: none;
  display: flex;
  position: relative;
  gap: 8px;
}

.button {
  width: fit-content;
}

.pagination-item p, .button p {
  text-decoration: none;
  margin: 0;
}

.pagination-item svg, .button svg {
  color: var(--color);
}

.pagination-item:focus, .button:hover, .button:focus,
.pagination-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}
  

  hr {
    border-bottom: 1px solid var(--secondary-color);
    margin: 0 1rem;
  }
  
  audio,
  img,
  video {
    border-radius: var(--border-radius);
    width: 115%;
    margin-left: 50%;
    transform: translateX(-50%);
    height: auto;
    position: inherit;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .site-footer {
    border-top: 1px solid var(--secondary-color);
    padding-top: 2rem;
    width: 100%;
    margin: 4rem 2rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
  }

  .site-footer  > p {
    max-width: var(--reading-col);
    width: 100%;
    margin: auto;
    text-align: center;
  }

  /* Mobile Styles */
  @media (max-width: 650px) {
    .home-block {
      width: 100%;
      max-width: 100%;
    }
    .pagination {
      flex-direction: column;
      gap: 12px;

    }
    .spec {
      width: 100%;
      max-width: 100%;
    }
  }
  