<!doctype html>
<html lang="{{ global.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title ~ ' – ' ~ global.title if title else global.title }}</title>
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    {% include 'snippets/meta.njk' %}
    <link href="https://api.fontshare.com/v2/css?f[]=bespoke-serif@1,2&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
<nav class='site-header'>
  <ul>
    {% for item in collections.all | eleventyNavigation %}
      <li{% if item.url == page.url %} class="active"{% endif %}>
        <a href="{{ item.url }}">
            {% if item.icon %}
            <a href="{{ item.url }}" class="nav-icon">{{ item.icon | safe }}</a>
          {% endif %}
          <p>{{ item.title }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
    </header>
<div class='site-body'>
    <main class="site-main">
      {{ content | safe }}
    </main>

    {% if global.footer %}
      <footer class="site-footer">
        <p>{{ global.footer | markdownifyInline | safe }}</p>
      </footer>
    {% endif %}
</div>
  </body>
</html>
