---
layout: base
permalink: "/posts/{{ page.fileSlug }}/index.html"
---

<h1>Bookshelf Work-In-Progress</h1>
<p>A collection of what I have read recently. THIS PAGE IS STILL BEING BUILT.</p>

<div class='shelf'>
  {% for item in books %}
    <div class='book-group'>
      <div class='books'>
        <div class="crease"></div>
        <img class='cover' src="https://covers.openlibrary.org/b/isbn/{{ item.isbn10 }}-L.jpg" alt='Cover for {{ item.title }}' />
        <div class="page">
          <p>
            <!-- The content of the paragraph goes here. I've truncated it for readability. -->
            Id deserunt commodo cillum officia fugiat eiusmod nisi laborum et excepteur adipisicing...
            Proident labore non consectetur eu.
          </p>
        </div>
      </div>
      <div class='book-text'>
        <h3>{{ item.title | safe }}</h3>
        <p>By {{ item.authors | safe }}</p>
      </div>
    </div> 
  {% endfor %}
</div>