---
layout: base
permalink: "/posts/{{ page.fileSlug }}/index.html"
---

<h1>Bookshelf WIP</h1>
<p>A collection of what I have read recently. THIS PAGE IS STILL BEING BUILT.</p>

<div class='shelf'>
{% for item in books %}
  <div class='books'>
    <h2>{{ item.title | safe}}</h2>
    <p>By {{ item.authors | safe }}</p>
    <img src="https://covers.openlibrary.org/b/isbn/{{ item.isbn13 }}-l.jpg" alt='Cover for {{ item.title }}' />
  </div>
{% endfor %}
</div>