---
layout: base
permalink: "/"
---

<div class="home-intro" class='fade-in-element'>
  {{ content | safe }} 
  <a id='contact'>Get in touch <svg width="20" height="20" fill="none" viewBox="20 20">
<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.75 19.25L12 4.75L19.25 19.25L12 15.75L4.75 19.25Z"></path>
<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 15.5V12.75"></path>
</svg>
</a>
</div>
<h2 class='projects-heading' class='fade-in-element'>Case Studies & Concepts</h2>

<p class='fade-in-element'>Deep dives into my projects, both for clients and app concepts, read on to find out about how I approach UX Design in a project and all about my process.<p>
{% set caseStudies = collections.caseStudies %}
<ul class='case-studies'>
{% for project in caseStudies %}
      <li class='fade-in-element'>
        <a href="{{ project.url }}">
                 {% if project.data.icon %}
          <img
            loading="lazy"
            src="/media/{{ project.data.icon }}"
            alt=""
            class='case-studies-icon'
          >
          {% endif %}
        <div class='case-studies-text'>
        <h3>{{ project.data.title | safe }}  →</h3>
        <p>{{ project.data.description | safe }}</p>
        </div>
        </a>
      </li>
  {% endfor %}
</ul>

<h2 class="projects-heading" class='fade-in-element'>Explorations & Other designs</h2>
<p class='fade-in-element'>A space for me to explore different designs.</p>
<ul class="grid">
  {% for project in collections.explorations %}
    <li class="explorations fade-in-element" >
      <a href="{{ project.url }}">
           <img
            loading="lazy"
            src="/media/{{ project.data.image }}"
            alt=""
            class='explorations-img'
          >
        <h3>{{ project.data.title | safe }}  →</h3>
      </a>
    </li>
  {% endfor %}
</ul>

<h2 class='projects-heading' class='fade-in-element'>Writing</h2>
<p class='fade-in-element'>A collection of my writing.</p>
<ol>
    {% for post in collections.posts %}
      <li class='fade-in-element'>
        <a href="{{ post.url }}">
          <h3>{{ post.data.title }}</h3>
        </a>
        <p class='time'>Written on {{ post.data.date | dateToFormat('MMMM dd, yyyy') }}</p>
        <p>{{ post.data.description }}</p>
      </li>
    {% endfor %}
</ol>
<a href='/posts' class='fade-in-element'>Read All →</a>



<h2 class='fade-in-element'>Cinematography Stills</h2>
<p class='fade-in-element'>I spent a few years behind the camera, capturing cool shots for some cool projects. Check out these stills from some of my favorites.</p>
    <div class="app" class='fade-in-element'>
      <div class="blaze-slider my-slider">
        <div class="blaze-container">
          <div class="blaze-track-container">
            <div class="blaze-track">
{% for item in cinematography %}
    <img src="{{ item.src }}" class="image-item" alt="{{ item.alt }}" />
{% endfor %}
            </div>
          </div>
        </div>
                <div class="controls">
          <button class="blaze-prev">← Back</button>
          <button class="blaze-next">Next →</button>
        </div>
      </div>
    </div>
