---
layout: base
permalink: "/"
---

<div class="home-intro">
  {{ content | safe }}
</div>
<div class='home-intro'>
  <h1>Projects</h1>
<div class='container'>
  
{% set entries = collections.all | getPagesByPaths(entries) if entries else collections.projects %}

{# For each of the entries #}
{% for entry in entries %}

  {# Set the defaults #}
  {% set image = false %}
  {% set width = false %}
  {% set height = false %}
  {% set blockClasses = 'md' %}

  {# If the entry has media #}
  {% if entry.data.media %}
    {# Get the first featured image block #}
    {% set block = entry.data.media | getFeaturedImage %}
    {% if block %}
      {% set blockClasses = block.size if block.size %}
      {% set image = block.filename | urlencode %}
      {% set width = block.width if block.width else false %}
      {% set height = block.height if block.height else false %}
    {% endif %}
  {% endif %}

  {# If there is an image we can use #}
  {% if image %}
    <article class="home-block {{ blockClasses }}">
      <a href="{{ entry.url }}">
        <img
          loading="lazy"
          src="/media/{{ image }}"
          alt=""
          {% if width %}width="{{ width }}"{% endif %}
          {% if height %}height="{{ height }}"{% endif %}
        >
        <div class="project-description">
                  <p class="specs">{{ entry.data.role | safe}}</p>
        <h3 class="home-block-title">{{ entry.data.title | safe }}</h3>
        <p>{{ entry.data.description | safe}}</p>
        <a href="{{ entry.url }}">Read More &mdash;</a>
        </div>
      </a>
    </article>
  {% endif %}
{% endfor %}
</div>
</div>
<div class='home-intro'>
<h3>Links</h3>
  <ul class="link-list">
    <li><a href="https://read.cv/jamco">Read.CV</a></li>
    <li><a href="https://read.cv/jamco">James Coy</a></li>
    <li><a href="http://www.linkedin.com/in/james-coy-designer">LinkedIn</a></li>
    <li><a href="https://layers.to/jamco">Layers</a></li>
    <li><a href="https://twitter.com/its_james_coy">Twitter</a></li>
    <li><a href="https://www.are.na/james-coy-designer">Are.na</a></li>
  </ul>
</div>