---
layout: base
permalink: "/"
---

<div class="home-intro">
  {{ content | safe }}
</div>
<h1 class='projects-heading'>Case Studies</h1>
{% set caseStudies = collections.caseStudies %}
<ul>
  {% for project in caseStudies %}
    {% if project.inputPath.includes('/projects/') %}
      <li>
        <a href="{{ project.url }}">
        <h3>{{ project.data.title | safe }}</h3>
        <p>{{ project.data.description | safe }}</p>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<h1 class='projects-heading'>Concept</h1>
{% set conceptProjects = collections.concept %}
<ul>
  {% for project in conceptProjects %}
    {% if project.inputPath.includes('/projects/') %}
      <li>
            <a href="{{ project.url }}">
        <h3>{{ project.data.title | safe }}</h3>
        <p>{{ project.data.description | safe }}</p>
    </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
<h1 class='projects-heading'>Explorations</h1>
{% set explorationsProjects = collections.explorations %}
<ul>
  {% for project in explorationsProjects %}
    {% if project.inputPath.includes('/projects/') %}
      <li>
        <a href="{{ project.url }}">
          {% if project.data.image %}
          <img
            loading="lazy"
            src="/media/{{ project.data.image }}"
            alt=""
            class='explorations-img'
          >
          {% endif %}
          <h3>{{ project.data.title | safe }}</h3>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>