---
layout: base
pagination:
  data: collections.posts
  size: 10
  alias: postslist
permalink: "posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<div class="posts">
<h1>Writing</h1>
<p>The <em>full</em> collection of posts about UX Design, small projects I've worked on, and other ramblings.</p>
<ol>
{% for post in collections.writing %}
  <li>
    <a href="{{ post.url }}">
      <h3>{{ post.data.title }}</h3> </a>
      <p>{{ post.data.description }}</p>
      <p>Written on{{ post.date | date("MMMM DD, YYYY") }}</p>
  </li>
{% endfor %}
</ol>
</div>
