---
layout: base
permalink: "/projects/{{ page.fileSlug }}/index.html"
---
<article class="project">
    <header>
     {% if media %}
    {% for block in media %}
      <div class="project-header-img">
        {% set caption = block.caption %}
        {% include 'snippets/media.njk' %}
      </div>
    {% endfor %}
  {% endif %}
    <h1 class='fade-in-element'>{{ title | safe }}</h1>
    <div class='project-specs'>
    <div class='fade-in-element' class='spec-container'>
    <div class='fade-in-element' class='spec'><h3>Role</h3><p class='project-role'>{{ role | safe}}</p></div>
    <div class='fade-in-element' class='spec'><h3>Completion Date</h3><p class='project-completion-date'>{{ completionDate | safe}}</p></div>
    <div class='fade-in-element' class='spec'><h3>Read Time</h3><p class='project-readtime'>{{ readTime | safe}}</p></div>
    <div class='fade-in-element' class='spec'><h3>Platform</h3><p class='project-platform'>{{ platform | safe}}</p></div>
    </div>
    {% if content %}
      <div class="project-text" class='fade-in-element'>
        {{ content | safe }}
      </div>
    {% endif %}
  </header>
</article>

{% set next = collections.projects | nextInCollection(page.fileSlug) %}
{% set previous = collections.projects | prevInCollection(page.fileSlug) %}

{% if next or previous%}
  <div class="pagination">
    <div>
    {% if previous %}
      <a class="pagination-item pagination-item-prev" href="{{ previous.url }}">
      <p>← Previous Project</p>
      </a>
    {% endif %}
    </div>
    <div>
    {% if next %}
      <a class="pagination-item pagination-item-next" href="{{ next.url }}">
        <p>Next Project  →</p>
      </a>
    {% endif %}
    </div>
  </div>
{% endif %}