---
layout: base
pagination:
  data: collections.projects
  size: 10
  alias: postslist
permalink: "projects/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
---


<div class="projects">
  {% for project in projectslist %}
    <article class="project">
      <header class="project-header">
        <h2 class="project-title">
          <a href="{{ project.url }}">{{ project.data.title | safe }}</a>
        </h2>
        <time class="project-date" datetime="{{ project.date | dateToFormat('yyyy-LL-dd') }}">{{ project.date | dateToFormat('d LLL y') }}</time>
      </header>
      {% if project.data.page.excerpt %}
        {{ project.data.page.excerpt | markdownify | safe }}
        <p><a href="{{ project.url }}" aria-label="Continue reading “{{ project.data.title }}”">Read more…</a></p>
      {% else %}
        {{ project.templateContent | safe }}
      {% endif %}
    </article>


{% if pagination.pages and pagination.pages.length > 1 %}
  <nav class="pagination" aria-labelledby="pagination">
    <ol class="pagination-item pagination-list">
      {%- for pageEntry in pagination.pages %}
        <li>
          <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %} aria-label="Page {{ loop.index }}">{{ loop.index }}</a>
        </li>
      {%- endfor %}
    </ol>
  {% if pagination.page.next %}
    <p class="pagination-item">
      <a href="{{ pagination.href.next }}" aria-label="Next page">Next</a>
    </p>
  {% endif %}
  {% if pagination.page.previous %}
    <p class="pagination-item">
      <a href="{{ pagination.href.previous }}" aria-label="Previous page">Previous</a>
    </p>
  {% endif %}
  </nav>
{% endif %}
 