---
layout: base
pagination:
  data: collections.projects
  size: 10
  alias: postslist
permalink: "posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
---
---
layout: base
permalink: "/"
---  
{% set entries = collections.all | getPagesByPaths(entries) if entries else collections.projects %}

{# For each of the entries #}
{% for entry in entries %}

  {# Set the defaults #}
  {% set image = false %}
  {% set width = false %}
  {% set height = false %}
  {% set blockClasses = 'md' %}

  {# If the entry has media #}
  {% if entry.data.media %}
    {# Get the first featured image block #}
    {% set block = entry.data.media | getFeaturedImage %}
    {% if block %}
      {% set blockClasses = block.size if block.size %}
      {% set image = block.filename | urlencode %}
      {% set width = block.width if block.width else false %}
      {% set height = block.height if block.height else false %}
    {% endif %}
  {% endif %}

  {# If there is an image we can use #}
  {% if image %}
    <a href="{{ entry.url }}"><article class="home-block {{ blockClasses }}">
      <div class="project-img">
        <img
          loading="lazy"
          src="/media/{{ image }}"
          alt="{{ entry.data.title | safe }}"
          {% if width %}width="{{ width }}"{% endif %}
          {% if height %}height="{{ height }}"{% endif %}
        >
        <div class="project-description">
        <p class="specs">{{ entry.data.role | safe}}</p>
        <h3 class="home-block-title">{{ entry.data.title | safe }}</h3>
        <p>{{ entry.data.description | safe}}</p>
        <a href="{{ entry.url }}">Read More &mdash;</a>
        </div>
      </div>
    </article></a>
  {% endif %}
{% endfor %}
</div>
</div>
-----
{% if pagination.pages and pagination.pages.length > 1 %}
  <nav class="pagination" aria-labelledby="pagination">
    <ol class="pagination-item pagination-list">
      {%- for pageEntry in pagination.pages %}
        <li>
          <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %} aria-label="Page {{ loop.index }}">{{ loop.index }}</a>
        </li>
      {%- endfor %}
    </ol>
  {% if pagination.page.next %}
    <p class="pagination-item">
      <a href="{{ pagination.href.next }}" aria-label="Next page">Next</a>
    </p>
  {% endif %}
  {% if pagination.page.previous %}
    <p class="pagination-item">
      <a href="{{ pagination.href.previous }}" aria-label="Previous page">Previous</a>
    </p>
  {% endif %}
  </nav>
{% endif %}
