---
layout: base
permalink: "/projects/{{ page.fileSlug }}/index.html"
---

<ul class='project-header-container'>
      <li>
    <div class='project-header' href="{{ project.url }}">
       {% if media %}
    {% for block in media %}
      <div class="project-header-img">
        {% set caption = block.caption %}
        {% include 'snippets/media.njk' %}
      </div>
    {% endfor %}
  {% endif %}
  <div class='project-header-title'>
          <img
            loading="lazy"
            src="/media/{{ icon }}"
            alt=""
            class='project-header-icon'
          >
<div class='project-header-text'>
        <h3>{{ title | safe }}  ↗</h3>
    <p>{{ description | safe }}</p>
    </div>
    </div>
    </div>
      </li>
</ul>

<article class="project">
    <header>
    <div class='project-specs'>
    <div class='spec-container'>
    <div class='spec'><h3>Role</h3><p class='project-role'>{{ role | safe}}</p></div>
    <div class='spec'><h3>Completion Date</h3><p class='project-completion-date'>{{ completionDate | safe}}</p></div>
    <div class='spec'><h3>Read Time</h3><p class='project-readtime'>{{ readTime | safe}}</p></div>
    <div class='spec'><h3>Platform</h3><p class='project-platform'>{{ platform | safe}}</p></div>
    </div>
    {% if content %}
      <div class="project-text">
        {{ content | safe }}
      </div>
    {% endif %}
  </header>
</article>

{% set next = collections.projects | nextInCollection(page.fileSlug) %}
{% set previous = collections.projects | prevInCollection(page.fileSlug) %}

{% if next or previous%}
  <div class="pagination">
    <div>
    {% if previous %}
      <a class="pagination-item pagination-item-prev" href="{{ previous.url }}">
      <p>←</p>
      </a>
    {% endif %}
    </div>
    <div>
    {% if next %}
      <a class="pagination-item pagination-item-next" href="{{ next.url }}">
        <p>→</p>
      </a>
    {% endif %}
    </div>
  </div>
{% endif %}