---
layout: base
permalink: "/{{ page.fileSlug }}/index.html"
---

<article class="resume">
  <header class="resume-header">
    <h1 class="post-title>James Coy - Resume</h2>
  </header>
  {{ content | safe }}
</article>