---
layout: base
permalink: "/{{ page.fileSlug }}/index.html"
---
<h1>James Coy</h1>
<article class="resume">
  <header class="resume-header">
    <h1 class="post-title><strong>James Coy</strong> - Resume</h2>
  </header>
  {{ content | safe }}
</article>